[2021-05-17 16:51] AdrianMrn opened #1 "Move ignition & flare to same error UI"
- [x] Move all React UI from @spatie/flare-error-ui to spatie/laravel-ignition

- [x] Recreate ErrorCard in ignition

- [x] Recreate SolutionCard in ignition

- [x] Include ts declaration files in @flareapp/ignition-ui package

- [ ] Make sure dumps work with sfdump (& that they don't break Flare)

- [ ] Remove fontawesome (fa-…) icons and use inline imported svgs instead (see https://github.com/f

[2021-05-18 10:09] AdrianMrn opened #2 "Errors with a solution throw a symfony exception"
Reproduce by removing the APP_KEY from .env

![image](https://user-images.githubusercontent.com/12762044/118633424-c371e000-b7d1-11eb-816f-9f83cf62f5bb.png)

[2021-05-27 13:22] freekmurze commented on #2
Fixed!

[2021-05-27 13:22] #2 closed

[2021-06-10 15:31] AdrianMrn opened #5 "Runnable solutions don't get their execute_endpoint anymore"
It looks like `spatie/ignition` is still trying to create an endpoint to execute the solution with a controller that doesn't exist anymore (it does exist in `spatie/laravel-ignition` though):

https://github.com/spatie/ignition/blob/main/src/Solutions/SolutionTransformer.php#L6

This causes a couple of properties to be missing from the solutions. This is what I get:

[code]

I expect to also see `

[2021-06-10 15:50] AdrianMrn opened #6 "Send shareable error report to front"
As agreed in the call from last week (or maybe 2 weeks ago?), we'll still create the shareable error report in the backend and append this to the end of the ignition HTML.

This will ensure that the ignition page can still be rendered as fast as possible, and that we don't have to copy over all the stripping logic to JS.

You can just add it as a comment in the blade here, and I'll make sure it fi

[2021-06-11 10:17] freekmurze commented on #5
Fixed!

[2021-06-11 10:17] #5 closed

[2021-06-11 10:28] freekmurze commented on #6
Added it as `shareableReport` in `window.data` 👍

[2021-06-11 10:28] #6 closed

[2021-07-30 14:06] AlexVanderbist opened #8 "Re-add Git information middleware"
(but get git info from files and drop the isDirty check)

[2021-11-08 11:04] #1 closed

[2021-12-01 11:04] #8 closed

[2022-01-10 14:25] freekmurze opened #14 "Incorrect error with variable issues in a view composer"
When a view composer has an issue with a variable missing, or calling a method on a null variable, etc. the suggested fix is for the template rather than the view composer.

The screenshot shows this best:
![image](https://user-images.githubusercontent.com/744962/107990260-0ab5be00-6fa2-11eb-910e-69bf2c4cdd5c.png)

(original issue https://github.com/facade/ignition/issues/355)

[2022-01-18 23:26] Jxckaroo opened #17 "Ignition Settings Dropdown"
Hey - I love the new ignition, it is awesome!

Just one thing I spotted though, on Chrome, in dark mode, when selecting an IDE in the ignition settings, the text colour seems to be the same as the dropdown background making it a bit hard to see the other options.

![image](https://user-images.githubusercontent.com/24681027/150034934-b761955a-b8f7-428d-8ee0-7f747cbe7d47.png)

[2022-01-18 23:37] freekmurze commented on #17
Thanks for reporting, we'll fix this soon!

[2022-01-18 23:40] Jxckaroo commented on #17
No worries! :) - really really great job with this.

[2022-01-19 07:51] shiftydevr opened #18 "Type error in package discovery"
Laravel 8.80.0  with PHP 8.0.14.
Manually deleted "bootstrap\cache\packages.php" because it was still trying to find facade\ignition.

Very excited to see new Ignition, but it didn't install:
Last part of composer update after changing composer.json:
        "spatie/laravel-ignition": "^1.0",

  - Installing spatie/backtrace (1.2.1): Extracting archive
  - Installing spatie/flare-client-php (1.0.0

[2022-01-19 08:05] freekmurze commented on #18
Thanks for reporting. It's difficult to recreate this. Could you create a minimal Laravel app that demonstrates this problem?

[2022-01-19 17:38] dianfishekqi opened #19 "Ignition default config outside of appdir"
Hello there,

After installing ignition, I stumbled upon an open_basedir restriction which triggers because ignition uses the home directory in Linux to store the default config (I assume to share the configs of different projects?), can we add an option to overwrite this behavior via config or keep the config somewhere inside the app directory?

I assume most people aren't comfortable loosening t

[2022-01-19 19:48] freekmurze commented on #19
Seems like you are using facade/ignition. Best to open an issue at that repo 👍

[2022-01-19 19:48] #19 closed

[2022-01-19 20:10] dianfishekqi commented on #19
hello @freekmurze, as you can see i'm using `spatie/ignition`
![image](https://user-images.githubusercontent.com/4225509/150206104-47ef1948-6533-4102-ad45-100baf2334e1.png)

[2022-01-20 00:27] miken32 opened #20 "Ignition causes timeout after RelationNotFoundException"
In a controller method I was trying to load a relationship. I accidentally used snake case instead of camel case for a 2-word relationship, and Laravel immediately threw a `RelationNotFoundException`. However, the browser kept on spinning for another 60 seconds before PHP killed execution due to timeout.

The timeout error doesn't happen in a consistent place, I saw a number of different code loca

[2022-01-20 07:24] freekmurze commented on #20
Could you provide us with a small example app that triggers this issue?

[2022-01-20 08:31] ridiks10 opened #21 "`IGNITION_LOCAL_SITES_PATH` environment variable does not work"
Does not work IGNITION_LOCAL_SITES_PATH  in "facade/ignition": "^2.5" everything is working

[2022-01-20 08:43] #17 closed

[2022-01-20 17:24] miken32 commented on #20
Yeah, just trying to recreate it now on a fresh project and having troubles. Will update today or tomorrow.

[2022-01-21 11:23] godforhire commented on #21
I think I run into the same problem. PHPStorm wants to open the remote file instead of the local file (Cannot create /home/vagrant/code/newsite/resources/views/... etc).

In .env

IGNITION_REMOTE_SITES_PATH=/home/vagrant/code/newsite
IGNITION_LOCAL_SITES_PATH=/Users/<username>/Projects/Sites/newsite

In config/ignition.php

    'remote_sites_path' => env('IGNITION_REMOTE_SITES_PATH', base_path()),

[2022-01-21 15:52] hylke94 commented on #21
Trying the new Ignition frontend. Looks awesome! But the remote path is not replaced in place indeed..

[2022-01-21 18:34] miken32 commented on #20
Ok, I'm not able to recreate the 60 second timeout, but I do have some code that consistently takes 10 seconds before returning. Not sure if this is an environment difference between apps, or due to the other app having a database full of data?

Clone https://github.com/miken32/example-app, migrate, seed, and serve. Then try to access /user/1/edit. I consistently get a 10 second delay before the e

[2022-01-22 14:47] hebbet opened #24 "Editor Menu not readable in Dark Mode"
Picture shows it:
<img width="274" alt="image" src="https://user-images.githubusercontent.com/1423115/150643154-e77014bc-7a20-415c-90b8-0a5a10633ae8.png">

when using theme auto (with preferred design set to dark in windows) or dark in ignition, select Editor in ignition settings isn't readable

one solution could be

[code]

[2022-01-22 14:49] hebbet commented on #24
duplicate of #17

[2022-01-22 14:49] #24 closed

[2022-01-23 11:53] dyanakiev opened #25 "Share button not disabling"
enable_share_button: false

Share button is still vissible and working.

[2022-01-23 12:28] hebbet opened #26 "White flash when using dark design on LiveWire errors"
when using dark theme the error message is (sometimes) loaded in light/white first and then gets repainted.
That causes a "flash" of the screen

[2022-01-23 23:05] hailwood commented on #21
Same issue here using Lando (wrapper around docker).

Project sits at `/home/matthew/Projects/my-project/app` on my local system.
So full path to the home controller would be
[code]

In the docker container it sits at `/app`
So full path to the home controller would be
[code]

My compiled config file after env() replacements contains
[code]

But the link to edit is still

[code]

[2022-01-24 17:47] telkins commented on #21
Same issue here.  It worked great before upgrading from `facade/ignition` to `spatie/laravel-ignition`.

Now, after upgrading, even if I hard-code the values in the config file (which doesn't seem to want to be publishable, btw), it still doesn't seem to work.

I make the changes (to the config/ignition.php file in the vendor folder), clear the config cache, and retry.  I get the same message each

[2022-01-28 06:09] byteasc opened #30 "Conflict between Sentry and Ignition"
Not sure if this is your issue or a Sentry specific issue, but it wasn't a problem previously with the older version.

The reported error we're seeing is ```Cannot assign Sentry\Laravel\Tracing\ViewEngineDecorator to property Spatie\LaravelIgnition\Views\ViewExceptionMapper::$compilerEngine of type Illuminate\View\Engines\CompilerEngine```

[2022-01-28 16:57] 2h4services opened #31 "Tweak to the Laravel 8 Install Doc"
In the docs for Laravel 8 you have to swap out the composer dependency
![Screenshot_20220128_084934](https://user-images.githubusercontent.com/98058142/151587982-74c8be58-d2be-4cec-8943-a7f097b438c8.png)

However, Laravel 8 out of the box has the old Ignition as around 2.5
[code]
Whereas this version is around ^1.0.  This will cause a composer error if you just change the name.

So just to make it

[2022-01-28 22:43] shiftydevr commented on #18
I created a basic Laravel app from scratch and it worked to require laravel-ignition into that app.
I noticed there is a minor version update, tried the failing app and it still has the exact same error message as reported.

The Laravel app that is failing is fairly simple but was SHIFTed from Lumen to Laravel, don't know if that's relevant.
The rest is my handy work. I understand the difference b

[2022-01-29 16:23] tanthammar opened #32 "Laravel Debugbar issue"
"spatie/laravel-ignition": "1.0.2",
PHP 8.1.2
Laravel 8.81.0
"barryvdh/laravel-debugbar": "3.6.6",

Most of the time when I get an error, it is not displayed because It gets stuck with the Laravel debugbar.
[code]

Example:
https://flareapp.io/share/87nzGkd7#F55

[2022-01-29 22:00] ReeceM opened #33 "Some exceptions return a default symfony exception"
## Versions
- Laravel version `8.81.0`
- PHP version `8.0.14`
- spatie/laravel-ignition `^1.0`

## Description

When some errors occur with the 'spatie/laravel-ignition^1.0` package the default symfony exception occurs, however  the `facade/ignition` package this returns the Ignition error page for the same error. This was tested by downgrading and revisiting the same page.

I discovered when usin

[2022-01-31 10:40] Wit3 commented on #30
me too, same problem

[2022-02-09 05:12] rrpadilla commented on #32
Having the same issue:
- Laravel: 9.0.0
- PHP 8.1.2

[2022-02-09 08:05] freekmurze commented on #32
Does the error go away if you remove the typehint on this line
https://flareapp.io/share/87nzGkd7#F55L21  ?

[2022-02-09 15:16] pxlcodes opened #34 "Ignition Setting is not persistence."
Saving Setting on error page will not be persistence on next request cycle.

[2022-02-09 23:48] atmonshi commented on #30
getting the same:
[code]

[2022-02-10 00:38] atmonshi commented on #30
It seems like it only happens on errors from blade only

to reproduce:

[code]

open `welcome.blade.php`
add the code: `@dump()` anywhere.

visit `app.test`
see:
[code]

test repo: https://github.com/atmonshi/sentry-ignition
live site: http://45.79.13.53

[2022-02-10 08:52] freekmurze commented on #30
This is fixed in the latest release.

[2022-02-10 08:52] #30 closed

[2022-02-10 08:53] freekmurze commented on #25
This should work in the latest release.

[2022-02-10 08:53] #25 closed

[2022-02-10 08:53] freekmurze commented on #32
This should work in the latest release. If not, open up a new issue.

[2022-02-10 08:53] #32 closed

[2022-02-10 15:06] whobutsb opened #35 "Error Page is not rendering CSS."
Hello there!  I just updated a Laravel 8 application to Laravel 9.  In my composer.json I updated:
`"facade/ignition": "^2.5"` to `"spatie/laravel-ignition": "^1.0"`

I then ran `composer update`.  In a sample route file: I manually threw an exception with `throw new \Exception('testing')`.
The error page that get rendered shows the content but the CSS is not being loaded.  I have included a image

[2022-02-10 15:18] whobutsb commented on #35
Please ignore this issue I was able to throw another exception and the beautiful error pages are now showing up as expected.

[2022-02-10 15:18] #35 closed

[2022-02-10 16:02] freekmurze commented on #34
Did you create that file via the error page itself (cogwheel in the top right corner).

[2022-02-10 22:31] joshbaumann opened #36 "Ajax error modal failing to load correctly"
Hello, I'm experiencing a rather odd issue when an Ajax call triggers an exception and the stackrace is presented in the modal.

## Versions
Laravel version 9.0.2
PHP version 8.0.11
spatie/laravel-ignition 1.0.4

## Description
The stacktrace UI is briefly displayed and then a script tries to call `replaceState` which then triggers a `DOMException` and the iframe dies and goes blank.

https://user

[2022-02-10 22:47] joshbaumann commented on #36
Recreating over in https://github.com/spatie/ignition

[2022-02-11 08:35] spartyboy commented on #35
same happening to me and its unfixable

[2022-02-11 13:01] spartyboy opened #37 "Bug with ignition opening multiple html tags with php debugbar error"
ignition shows symphony error with blank on v 1.0.4
![Screenshot (227)](https://user-images.githubusercontent.com/26467959/153595881-047dab66-0378-42ef-a59d-b2cc8ad330a3.png)
![Screenshot (228)](https://user-images.githubusercontent.com/26467959/153595885-dae88912-6cf9-4b4d-ad02-afa46c1478d9.png)
![Screenshot (229)](https://user-images.githubusercontent.com/26467959/153595889-7f144b58-e3a4-4d95-8c

[2022-02-11 13:46] freekmurze commented on #37
That's a strange error, and I don't know if it's caused by ignition: we don't use jQuery.

[2022-02-11 21:41] spartyboy commented on #37
I noticed the jQuery it's an issue with debugbar and when i failing due to the ignition error.
I disabled laravel debugbar but still that blank white symfony error kept showing and the jQuery error was gone

[2022-02-11 21:43] spartyboy commented on #35
No am using laravel debugbar

[2022-02-11 21:43] spartyboy commented on #35
I feel its an issue the previous ignition works well with no glitch

[2022-02-11 23:14] alexandercrice opened #41 "Typo in Documentation (Writing Custom Middleware)"
https://flareapp.io/docs/ignition-for-laravel/writing-custom-middleware

A use-statement in one of the code samples has the namespace `Spatke`, which I believe should be `Spatie`.

![image](https://user-images.githubusercontent.com/20804591/153683223-d5694d05-218e-458e-9ffe-0e4547b480f5.png)

[2022-02-12 04:35] pxlcodes commented on #34
Yes changed theme and editor both from cogwheel (Ignition Settings) and saved. Still there is no change.
However I edited config/ignition.php and I seems working fine.

[2022-02-12 18:41] mertasan commented on #30
@freekmurze Similar problems persist. For example, in exceptions that occur in Livewire components.

I created a PR #42

[2022-02-12 22:27] evtukhov commented on #37
![Screen Shot 2022-02-13 at 01 25 33](https://user-images.githubusercontent.com/11804586/153730524-90f5d4d8-9f80-41dc-b7ed-e10bbb224596.png)
The same on Mac OS X in Chrome latest version.

[2022-02-12 22:35] evtukhov commented on #35
![Screen Shot 2022-02-13 at 01 25 33](https://user-images.githubusercontent.com/11804586/153730782-27299297-4c68-4359-84c2-83530bd76d33.png)

The same on Mac OS X in Chrome latest version. spatie/laravel-ignition: 1.0.4

[2022-02-13 14:11] anhofmann commented on #21
I have the same problem: this is in my `config/ignition.php`:

[code]
This is how the link lands in my browser (vivaldi, but it is the same on all blink engines and on firefox):
`phpstorm://open?file=%2Fvar%2Fwww%2Fhtml%2Fresources%2Fviews%2Fcomponents%2Fsection.blade.php&line=3`

So not only gets everything ignored that is in my ignition config, but also the path is urlencoded and doesn't work. I

[2022-02-13 14:13] freekmurze commented on #21
We'll try to look at this soon. If you need this fixed fasted, we'd appreciate a PR.

[2022-02-13 15:18] freekmurze commented on #41
Fixed. Thanks!

[2022-02-13 15:18] #41 closed

[2022-02-15 00:21] titantwentyone commented on #34
Also having the same issue. Unsure if related but my Chrome console shows:

[code]
Is there any guidance on the format of the json so we can create it manually?

[2022-02-15 12:07] edcoreweb opened #44 "Git information should not fail"
![image](https://user-images.githubusercontent.com/9083523/154058821-823773d8-bd3f-459d-8993-48837e0e9e88.png)

I think that it should not critically fail because of git, also 60 sec timeout seems a bit much.
What's your opinion on this?

This happens because I run the project from a NFS share, and there are a lot of files.
Ideally I can live without git information if it causes a long waiting tim

[2022-02-15 12:52] utsarajoro opened #45 "An exception is thrown when is use queue in laravel 9"
This is the error
![image](https://user-images.githubusercontent.com/99734788/154065758-24ecd06c-7a62-47e5-94c7-3e8b9e782aa7.png)

[2022-02-15 13:23] #45 closed

[2022-02-15 21:17] PaolaRuby opened #46 "`IGNITION_SHARING_ENABLED=false` environment variable does not work"
Does not work `IGNITION_SHARING_ENABLED=false`, share buttons are still showing,
![image](https://user-images.githubusercontent.com/79208489/154150691-c66830e6-c936-4875-bc0d-5de365eeb6b7.png)

 in "facade/ignition": "^2.5" everything is working

**Version:** 1.0.6
**Php:** 8.0/8.1
**Laravel:** 8.83/9.1

maybe related #21

[2022-02-16 16:15] freekmurze commented on #44
This has been fixed in the latest version.

[2022-02-16 16:15] #44 closed

[2022-02-16 16:25] ankheur opened #49 "window.ignite is not a function"
I'm developping a laravel project with Metronic 8 theme
Since I upgraded to Laravel 9 from the last version of Laravel 8, when I get an error I have an empty page with errors on the console.

First an
`Uncaught SyntaxError: Unexpected token '{' `

Which is due to the last line of this block of code
[code]
and an error
`window.ignite is not a function`

When I remove the package from my project, I

[2022-02-17 01:27] justmd5 commented on #21
same with me

[2022-02-18 16:56] lonquan commented on #25
I'm sure it does n' t work in version 1.0.6  😢

[2022-02-18 21:23] jez500 commented on #35
I'm getting the same thing, I have clockwork installed but uninstalled it and the same thing occurs. Seems to only be with 500 errors as something less significant like an undefined variable shows ignition.

Did a bit of debugging but unsure of expected behaviour. eg should ignition disable symfony/error-handler as they appear to do the same thing? Looks like symfony error-handler is getting in be

[2022-02-18 21:26] goaround commented on #35
Check if you really run PHP 8.1. That was my mistake.

[2022-02-18 21:32] jez500 commented on #35
Yeah, 8.1.1

[code]

[2022-02-18 22:21] freekmurze commented on #35
@jez500 have you check the version of PHP you're using for web requests? http://freek.dev/php-version

[2022-02-19 11:45] nickdekruijk commented on #34
I had this issue too, creating an empty `touch ~/.ignition.json` solved it for me.
Can't ignition create this file if it's not there?

[2022-02-20 01:19] grantholle commented on #35
For me, the html is malformed:

[code]

[2022-02-20 21:33] spartyboy commented on #35
This exactly is what i feel is the cause it opens a new html tag in a previously opened one

[2022-02-21 07:29] freekmurze commented on #35
In the exceptions that I throw, the HTML of the Ignition page is valid.

Could you create a minimal Laravel app where you recreate the issue?

[2022-02-21 12:46] grantholle commented on #35
I wish I could. I've upgraded two projects to Laravel 9. One (with the most dependencies and complexity) is rendering fine, the other (much simpler) will not render.

When starting a new project with the same `composer.json` file, it works as expected. I'm going to keep tinkering, but I really can't pinpoint what's the deal.

[2022-02-21 12:55] grantholle commented on #35
Just doing some searching around, I think @jez500 was on to it:

It looks like Symfony's error handler HTML page is getting included in the output [here](https://github.com/spatie/ignition/blob/main/resources/views/errorPage.php#L27).

[2022-02-24 23:31] DarkGhostHunter opened #58 "PhpStorm isn't opened when managed by Toolbox"
Duplicate of [#343](https://github.com/facade/ignition/pull/434) on the other repository.

[2022-02-25 09:43] moisish commented on #35
I think I found where the Symfony's error html page is included

https://github.com/spatie/ignition/issues/48#issuecomment-1050695607

[2022-02-25 11:11] AlexVanderbist commented on #35
Hey all, a fix has been tagged [here](https://github.com/spatie/flare-client-php/releases/tag/1.0.3). Running `composer update` on your projects will automatically pull this in. Please let me know if this fixes your issues :)

[2022-02-25 15:21] whobutsb commented on #35
Amazing, thank you so much for fixing this.  Just checked out a random variable in my blade template and it is now showing the correct error page.

[2022-02-25 19:37] jez500 commented on #35
Awesome, thank you!

[2022-02-26 18:04] DarkGhostHunter opened #61 "Doesn't show previous thrown exception"
Title.

Once an exception is catched, and contains a previously thrown exception, there is no UI or log for that previous exception.

The only way to retrieve it is manually editing the code.

[2022-02-27 22:14] dawnbirth opened #63 "React Rendering Error when report 'context' contains a user with a non-numeric keys array property"
I've noticed that Ignition error page becomes blank when I log in to my project, and a browser console error from ReactJS appers; error details:

https://reactjs.org/docs/error-decoder.html/?invariant=31&args

After some debugging, I've found that the error was because "Spatie Laravel Translatable" package converts the translated model attributes of the logged-in user into an array with string key

[2022-02-27 22:34] dawnbirth commented on #63
It seems this issue belongs to [ignition](https://github.com/spatie/ignition/) not here, and I think it is the same as this issue: https://github.com/spatie/ignition/issues/44
So, I am going to close this.

[2022-02-27 22:34] #63 closed

[2022-02-28 10:04] imithu opened #64 "Error page does not work"
- Laravel Version: 9.2.0
- PHP Version: 8.1.3
- Database Driver & Version: N\A

### Description:
Ignition html error page does not work in both Insomnia preview mode and thunder client preview mode.
It works only in browser.

### Steps To Reproduce:
I have created a live endpoint so that you can understand the issue.
```https://insomnia-open-source.imithu.org/api/test```
open this endpoint in,
- a

[2022-02-28 10:05] imithu commented on #64
# Modern Browser
![modern browser](https://user-images.githubusercontent.com/76824197/155878708-f44f2019-4960-43f2-b203-76410897222b.png)

# Insomnia
![insomnia](https://user-images.githubusercontent.com/76824197/155878710-a40f1e77-cd5b-41be-a52d-eb52f4a53133.png)

# Thunder Client (vs code extension)
![Thunder Client](https://user-images.githubusercontent.com/76824197/155904347-80bb6aff-babd-4cf9

[2022-03-01 09:51] Hepi420 opened #65 "Igniton page throws error showing default symfony error page"
``After updating a project from git to a new PC and installing all dependencies when I get any error(DB, Type, Exceptions) instead of seeing the iginition page I see this page with the same error.

Using laravel 9.2.0, Iginition 1.0.6

![image](https://user-images.githubusercontent.com/5824853/156144899-af21a05a-d0bb-4ff4-9815-00ab9fbc4313.png)

I tried reinstalling all the vendor folder and updat

[2022-03-01 10:44] AlexVanderbist commented on #31
Thanks for the suggestion! We've added a bit more information (should appear later today).

[2022-03-01 10:44] #31 closed

[2022-03-01 10:55] AlexVanderbist commented on #65
Hi @Hepi420,

Looks like something in your application causes `config('app.env')` to be `null`. Can you check your `config/app.php` file and make sure that a non-null value is set?

Either way, we've also tagged a fix in flare-client-php to make sure we can handle `null` values better. Running `composer update` should automatically pull in this fix:
https://github.com/spatie/flare-client-php/relea

[2022-03-01 10:55] #65 closed

[2022-03-01 18:56] #64 closed

[2022-03-02 10:09] AlexVanderbist commented on #49
Hi @ankheur, can you try to replicate the issue again on the latest version of laravel-ignition (1.0.6) and its dependencies? You'll probably need to run `composer update` to pull in any changes to the underlying `spatie/ignition` package.

Thanks!

[2022-03-02 10:24] KostKostY1 commented on #18
Any news on this one?
Started failing today after updating to laravel 9 and spatie-ignition to 1.

Works fine locally but fails on my azure app service for some unknown reason i cant really understand.
 "laravel/framework": "^9.0",
"spatie/laravel-ignition": "^1.0",

Error log :
`[2022-03-02 10:18:42] production.ERROR: Spatie\LaravelIgnition\Recorders\QueryRecorder\QueryRecorder::__construct(): Ar

[2022-03-02 10:56] freekmurze commented on #18
Did you run `php artisan config:clear`?

[2022-03-02 11:23] KostKostY1 commented on #18
Tried it locally and works fine. On the server i get the same error again.
![image](https://user-images.githubusercontent.com/78410794/156352544-9cf18716-9a99-4a44-9e9f-7a224a05a2ac.png)

[2022-03-02 12:10] freekmurze commented on #18
This makes me think that you didn't clear all the caches on your server.

[2022-03-02 12:45] KostKostY1 commented on #18
Well..i can't clear them..i get the error....I can't really offer any more in the discussion...im kinda lost.
 It's 2 days work so ill start over and if the error persists ill inform you

[2022-03-03 13:57] jonas-kell opened #67 "Runnable Solutions not working in upgraded Legacy-Laravel Apps because of `$namespace`"
My company has a Laravel app that was created around the 4.x/5.0 stage of Laravel.

The upgrades have always been performed correctly according to the upgrade-guides.

However I noticed, runnable solutions weren't working in this application, while they were in the new ones I created.

After digging for quite a while, I realized, this was due to the (in 9.x no longer existent) `$namespace` propert

[2022-03-04 13:41] ankheur commented on #49
Hi ! The issue seemed to have come from a dependency problem from the Metronic package and an update from them resolved the issue. Thanks and sorry for this thread

[2022-03-04 13:41] #49 closed

[2022-03-07 07:17] amirhossein-fzl opened #68 "Compatibility issues with TronLink extension"
- Laravel Version: 9.3.1
- PHP Version: 8.0.15
- Database Driver & Version: mysql, 5.7.33
- Google Cgrome: 99.0.4844.51

Hello. When I get an error in Laravel, when I scroll the page or click on any of the links on the error page, the page appears as follows.

![ignition 00_00_00-00_00_30](https://user-images.githubusercontent.com/53816722/156985095-149eb60d-36bd-47c5-8565-ae6fd113efcb.gif)

The b

[2022-03-08 10:51] AlexVanderbist commented on #68
Hi, thanks for reporting this issue. Can you share the exact spatie/ignition and spatie/laravel-ignition versions with us?

You can find those by running `composer show spatie/ignition` and `composer show spatie/laravel-ignition` and looking at the `versions` section.

[2022-03-08 14:19] amirhossein-fzl commented on #68
Hi.

- spatie/ignition version: 1.0.5
- spatie/laravel-ignition version: 1.0.6

[2022-03-08 14:22] AlexVanderbist commented on #68
Hi @amirhossein-fzl, can you try updating your composer dependencies by running `composer update` please? We've added error boundaries in `spatie/ignition:1.1.0` which should hopefully catch the error and help us solve this issue for you :)

[2022-03-08 14:38] amirhossein-fzl commented on #68
I ran the `composer update` command and did the update. But the error was not fixed !!

![image](https://user-images.githubusercontent.com/53816722/157259592-1165ba5e-1e2a-4d1e-a936-b8d31ed8aeb9.png)

[2022-03-08 15:00] AlexVanderbist commented on #68
Can you share that URL from the error message in the console here? It'll include the specific error that we're looking for

[2022-03-09 09:55] amirhossein-fzl commented on #68
Yes

http://music-app.test/admin/profile (localhost)

No hashtags are created in the URL. I deliberately created this error to show you the problem. Otherwise I am currently working on my project with Firefox to temporarily solve my problem. You can also see this problem in Google Chrome browser and try to solve it. Thanks 🙏

[2022-03-09 10:40] AlexVanderbist commented on #68
Hey @amirhossein-fzl, can you please share the full reactjs.org URL that you showed in the developer tools console error?

This one in here:
<img width="1238" alt="image" src="https://user-images.githubusercontent.com/6287961/157425527-72751ce6-f2bb-47f6-8232-91349a81d86b.png">

I can't seem to locally replicate the issue on my version of Chrome so we'll need some more context

[2022-03-09 12:50] JvdK commented on #18
Hi, I had the same problem as described in the issue after an upgrade to Laravel 9 on an Azure app service. After trying to remove and reinstalling ignition using composer, I wasn't able to run `artisan config:clear` anymore.

[code]

I fixed this by manually removing `bootstrap/cache/config.php` and running `artisan config:cache`

[2022-03-09 14:10] amirhossein-fzl commented on #68
https://reactjs.org/docs/error-decoder.html?invariant=130&args[]=symbol&args[]=

[2022-03-09 22:33] karlhillx opened #69 "Solutions cannot be run from your current IP address."
I came across this error a lot today but am unsure what it means for my Amazon EC2 server. Any ideas?

Laravel: 9.4.1
PHP: 8.1
spatie/ignition: 1.2.3
spatie/laravel-ignition: 1.0.6

2022-03-09 16:38:00] local.ERROR: Solutions cannot be run from your current IP address. {"exception":"[object] (Spatie\\LaravelIgnition\\Exceptions\\CannotExecuteSolutionForNonLocalIp(code: 0): Solutions cannot be run

[2022-03-10 10:05] AlexVanderbist commented on #69
Hi @karlhillx,

Sorry about that. To avoid any remote code execution vulnerabilities we've disabled the possibility to execute solutions from any non-local IP address. This will prevent anyone with access to your ec2 instance to execute solutions on your behalve.

I'd propose using an SSH tunnel to connect to your EC2 instance. This will allow you to interact with the PHP application as if it is i

[2022-03-10 12:42] AlexVanderbist commented on #67
Hi @jonas-kell,

Thanks for bringing this to our attention! I've tagged a fix in v1.0.7. Running `composer update` will automatically pull this fixed version in 👍

[2022-03-10 12:42] #67 closed

[2022-03-10 15:22] AdrianMrn commented on #68
@amirhossein-fzl We've tried but still can't reproduce this. Could you create a minimal reproduction repository where can see this error happening in Chrome please?

[2022-03-10 15:28] amirhossein-fzl commented on #68
No. My project is private and it is not possible for me. You mean, like, your Google Chrome does not show this error? If so, I will reinstall my browser. Maybe the problem is with my browser

[2022-03-14 00:10] ebiboy2 commented on #68
I can create a minimal reproduction repository if you still want. I am currently facing the same issue.

[2022-03-14 02:58] chen900804 commented on #69
@AlexVanderbist  I hope to configure the specified IP and execute the solution on my behave

[2022-03-15 09:12] WalterWoshid opened #70 "Ignition solution not appearing"
- Ignition Version: 1.2.4
- Laravel Version: 9.4.1
- PHP Version: 8.1.2

### Description:
I'm using the default configurations. I have also added a custom exception which implements `Facade\IgnitionContracts\ProvidesSolution`, but it doesn't appear on the error page.

FfprobeLengthException.php:
[code]

RunCode.php
[code]

Result:
![image](https://user-images.githubusercontent.com/36635504/1583415

[2022-03-15 10:34] AdrianMrn commented on #68
@ebiboy2 Yes please 🙏

[2022-03-15 10:38] #70 closed

[2022-03-15 16:29] Josh-G commented on #21
I believe this is fixed now by a change made to `@flareapp/ignition-ui` in 3.2.0, but I cannot find a repo for this npm package. Is it private?

[2022-03-16 05:07] tfevan commented on #68
Here another error posted on stackoverflow https://stackoverflow.com/questions/71492001/laravel-errors-disappears-ignition

[![Attaching a gif of the entire issue][1]][1]

  [1]: https://i.stack.imgur.com/7YsKk.gif

[2022-03-16 08:49] AdrianMrn commented on #68
@tfevan As mentioned, we haven't been able to reproduce this bug and are still hoping for someone to create a **minimal public repository** where we can reproduce this error.

Without any extra information on how to reproduce this bug, we're shooting in the dark and have no way to solve this bug.

[2022-03-16 09:50] ebiboy2 commented on #68
Kindly check out this repo https://github.com/ebiboy2/laravel-MinifiedReactError to reproduce the error

Laravel Framework 9.3.1
Chrome Version 99.0.4844.74 (Official Build) (64-bit)

I can provide any other information you might need. Just ask

[2022-03-16 10:49] AdrianMrn commented on #68
@ebiboy2 Thanks a bunch for the repo. I've installed it and I'm not getting the bug :(

Could you please try opening the page in an incognito window (which should disable all your browser extensions), and see if that changes anything? If the bug disappears, could you disable all your extensions and enable them 1 by 1 to see which one could be causing the issue?

If the bug still happens in incogni

[2022-03-16 10:57] amirhossein-fzl commented on #68
In incognito window (when add-ons are disabled), this problem is fixed. This error occurs if there is an interference between Google Chrome add-ons and the disruptive plugin must be found.

The reason I did not have this problem with the Firefox add-on was that my Firefox did not have any add-ons.

[2022-03-16 12:22] AdrianMrn commented on #68
We can reproduce the bug when the TronLink extension is enabled. We'll let you know once we've found a solution. For now, see if you can disable the extension from running on your test domains or use a different browser.

[2022-03-16 13:16] tfevan commented on #68
Just installed the repo, but I'm not getting any error, I'm on Windows Chrome Version 99.0.4844.74 and my PHP is 8.0.6

I'm gonna install TronLink now  and let you know

[2022-03-16 14:56] ebiboy2 commented on #68
Incognito mode seem to solve the problem.
BTW i have TronLink extension installed which i think causes the problem.

[2022-03-16 18:21] desyashasyi commented on #68
I have some problem in production.

Ubuntu 20.04-NGINX
`"php": "^8.1.3",
        "apereo/phpcas": "1.4.0",
        "awobaz/compoships": "^2.1",
        "barryvdh/laravel-dompdf": "^1.0",
        "guzzlehttp/guzzle": "^7.2",
        "intervention/image": "^2.7",
        "jeroennoten/laravel-adminlte": "^3.8",
        "laravel/framework": "^9.2",
        "laravel/sanctum": "^2.14.1",
        "larave

[2022-03-17 10:01] hebbet commented on #26
that is still happening when the error message is loaded via an iframe, eg. on livewire errors.

[2022-03-17 17:42] eusonlito opened #73 "SQL error should close only with collapse icon."
* Version: 1.0.10
* Laravel: 9.5

When a SQL error occurs, some times I want to copy only a part of SQL query or simply select some part to hightlight and focus on it, but every time that a click is made on SQL query, the layer collapse.

I think that is better to open the error with a click on any layer part, but to close is a better option to close only using the collapse icon.

Copy all SQL wit

[2022-03-17 17:48] eusonlito opened #74 "Large SQL lines are not visible on SQL error panel"
* Version: 1.0.10
* Laravel: 9.5

I have some SQL queries with large table names and columns and when a error occurs, the SQL is not fully visible on the right.

![Screenshot from 2022-03-17 18-47-27](https://user-images.githubusercontent.com/644551/158864119-5b678b24-c903-4838-9946-1d94c95dbef2.png)

Maybe adding a `overflow: auto` to layer?

Thanks!

[2022-03-18 11:32] eusonlito opened #76 "TypeError: Cannot read properties of undefined (reading 'slice')"
* Version: 1.0.10
* Laravel: 9.5

Some queries can not be displayed on SQL error panel. On SQL panel expand, the UI return this error:

[code]

Tested in chrome on incognito mode without any extension enabled:

![Peek 2022-03-18 12-28](https://user-images.githubusercontent.com/644551/158995709-1db435f6-dae8-4c20-a6c6-ee295e7d48dc.gif)

[2022-03-19 13:13] AlexVanderbist commented on #68
Hi @desyashasyi, are you also using the TronLink extension? If not, can you please open a new issue about the laravel.log permission problem? Thanks!

[2022-03-19 13:14] AlexVanderbist commented on #34
Hi all, we've updated the ignition package a while ago to automatically create the settings file, should it be missing. Running `composer update` should automatically pull in this new version of Ignition and its dependencies.

Thanks for everyone's input on this!

[2022-03-19 13:14] #34 closed

[2022-03-19 13:19] AlexVanderbist commented on #69
Hi @chen900804, out of curiosity: what's the use-case for this? Are you developing on a remote server? How are the fixed files getting from the remote server back into Git?

[2022-03-19 13:24] AlexVanderbist commented on #18
Hi @JvdK, thanks for the in-depth explanation. I've made sure that the `$options` will always default to an empty array now, this should fix the issues you were having.

@KostKostY1 are you still experiencing this issue? I'll tag a bugfix release in less than an hour that'll fix `php artisan config:clear`. Sorry for the inconvenience this might've caused.

[2022-03-19 13:24] #18 closed

[2022-03-19 13:25] AlexVanderbist commented on #14
I don't think this issue still exists in spatie/ignition. Closing :)

[2022-03-19 13:25] #14 closed

[2022-03-19 13:29] AlexVanderbist commented on #21
@Josh-G you can find the Ignition UI package [here](https://github.com/spatie/ignition-ui)

[2022-03-19 13:30] AlexVanderbist commented on #33
Hi @ReeceM, thanks for the detailed explanation! I'll look into this asap, hopefully even this weekend.

[2022-03-19 13:31] AlexVanderbist commented on #37
Hi @spartyboy, this error was fixed a couple weeks ago. You can update to the latest version of Ignition by running `composer update`.

Should the problem pop up again for you, please do not hesitate to open a new issue and tag me in it :)

[2022-03-19 13:31] #37 closed

[2022-03-19 13:34] AlexVanderbist commented on #58
Hi @DarkGhostHunter,

Thanks for reminding us. I'd love to get the JetBrains Toolbox to work in Ignition. If you, or anyone else, feels up for the task to port the [previous PR](https://github.com/facade/ignition/pull/434) to this version of Ignition, I'll happily merge it.

I'll leave this open for anyone else looking for Toolbox support, answers or a challenge :)

[2022-03-19 13:36] Josh-G commented on #21
That's a 404 for me.

[2022-03-19 13:41] AlexVanderbist commented on #21
@Josh-G my bad, try again now :)

[2022-03-19 13:44] AlexVanderbist commented on #73
Hi @eusonlito, great idea. I've tried to select, and accidentally collapsed the SQL fields too many times. If you, or anyone else feels up to the challenge, feel free to open a PR! Otherwise, I might look into it later :)

I'll leave this open for visibility!

[2022-03-19 13:47] AlexVanderbist commented on #74
Hi @eusonlito, are you talking about not being able to horizontally scroll to the right, or is the end of the string getting hidden behind the fade-out?

[2022-03-19 14:07] AlexVanderbist commented on #46
Hi @PaolaRuby, thanks for making us aware of this issue. I've got a fix ready to be tagged later today. You can pull in this fix using `composer update`.

[2022-03-19 14:07] #46 closed

[2022-03-19 16:04] eusonlito commented on #74
@AlexVanderbist yes, there aren't horizontal scroll, then large SQL lines are hidden behind the fade out :)

[2022-03-19 16:28] eusonlito commented on #74
I finally removed all solution providers and all my problems gone away 😅

[2022-03-19 16:48] AlexVanderbist commented on #21
Hey all, I was just testing this out and it seems to work alright for me (like @Josh-G said). Can anyone confirm that this issue still exists on the latest version of the package?

[2022-03-21 01:25] justmd5 commented on #21
it's ok for me now !

[2022-03-21 09:23] ReeceM commented on #33
Thanks @AlexVanderbist for having a look 👍

[2022-03-21 12:20] AlexVanderbist commented on #21
Thanks @justmd5 and @Josh-G for checking this.

I'm gonna close this issue for as the root problem seems to have been fixed. Feel free to open a new issue and link to this one if the issue would re-occur.

Thanks everyone!

[2022-03-21 12:20] #21 closed

[2022-03-21 13:47] PaolaRuby commented on #46
It's working now, thanks

[2022-03-28 09:22] Messhias opened #81 "Cannot run solution in this environment"
This is just happening after the last update:

# note: this is in the production environment.

[code]

composer.json:
[code]

[2022-03-29 05:16] anyforever commented on #64
How to solve it?
@imithu

[2022-03-29 08:58] AlexVanderbist commented on #26
Hi @hebbet, can you try pulling in the latest version of laravel-ignition (running `composer update` should be enough)? We've moved the darkmode script to the head part of the page so it should load slightly faster.

[2022-03-29 09:36] hebbet commented on #26
yes, but it is still flashing.

[2022-03-31 15:42] AlexVanderbist opened #82 "Add doc blocks to `Flare` facade"
Adding doc blocks for static methods like `Flare::determineVersionUsing()` to the `Flare` facade would greatly improve DX.

[2022-04-02 12:02] axis80 commented on #69
I'm not the previous commenter but here's my use case: I have a couple Ubuntu VPS servers (on DigitalOcean) which I use as development machines.  I use [rmate](https://github.com/textmate/rmate) to edit the remote files, and the bash CLI to check changes into git.  I find this much easier than working off of localhost, because a) I work from multiple desktop PCs in multiple locations; and b) my ap

[2022-04-07 10:01] dr-roshyara commented on #69
I have the same problem in Digital Ocean however I cant find the cause of this error. What and How should I avoid this error.
Running Server: Digital Ocean
Running Machine: Ubuntu-20.04
Servertype: VPS

[2022-04-10 19:09] imithu commented on #64
updating insomnia and spatie/laravel-ignition worked for me.
i hope only updating spatie/laravel-ignition will solve ur problem.

[2022-04-12 02:43] anyforever commented on #64
@imithu Thank u very much!

[2022-04-12 07:12] imithu commented on #64
Alhamdulillah (all the praises and thanks be to ALLAH)

[2022-04-20 13:20] gleb-svitelskiy commented on #69
If you are using this package in an application with enabled debug mode on a public webserver and you don't need the ability to run solutions from an error page - you can set `IGNITION_ENABLE_RUNNABLE_SOLUTIONS` environment variable to `false`. This will help to get rid of such exceptions in your error log.
These exceptions are most likely caused by attempts by third parties to exploit vulnerabili

[2022-04-22 21:59] tomshaw opened #88 "Console warning when throwing test exception"
After upgrading from Laravel 8 to 9 I'm getting a console warning when throwing a test exception.

- Laravel Version: 9.0
- PHP Version: 8.0.10/8.1.2
- Ignition Version: spatie/laravel-ignition 1.0
[code]

[2022-04-24 12:26] AlexVanderbist commented on #26
Hi @hebbet, finally got around to further investigating this issue. As of yesterday (spatie/ignition 1.2.9) it should've been fixed. Thanks for your patience and reporting this issue :)

[2022-04-24 12:26] #26 closed

[2022-04-24 12:29] AlexVanderbist commented on #68
Hi all, I just tried to install the TronLink extension again to check if the issue still exists but it seems to have been resolved in a previous update. If anyone is still experiencing compatibility issues with TronLink (or inexplicable page crashes when scrolling) feel free to open a new issue. Thanks!

[2022-04-24 12:29] #68 closed

[2022-04-24 12:37] AlexVanderbist commented on #69
So as a TL;DR:

- don't set `APP_DEBUG=true` on any public server (unless you know what you're doing)
- if you really want to force solutions to run anywhere, set `IGNITION_ENABLE_RUNNABLE_SOLUTIONS=true` and `APP_ENV=local` but please know that this is a security risk!
- if you are inexplicably receiving the aforementioned exception in your logs: disable `APP_DEBUG=true` or set `IGNITION_ENABLE_R

[2022-04-24 12:37] #69 closed

[2022-04-24 12:42] AlexVanderbist commented on #81
Hi @Messhias, please make sure that debug mode is turned off (`APP_DEBUG=false`) in your production environment. Additionally, please also make sure that the `IGNITION_ENABLE_RUNNABLE_SOLUTIONS` environment variable is either not set or set to `false`!

If debug mode is turned off and `IGNITION_ENABLE_RUNNABLE_SOLUTIONS` is not set, please make sure that `config('ignition.enable_runnable_solutions

[2022-04-24 12:45] AlexVanderbist commented on #88
Hi @tomshaw, can you try updating the `spatie/laravel-ignition` package and its dependencies to its latest version?

You can do so using following command:

[code]

[2022-04-24 17:45] tomshaw commented on #88
@AlexVanderbist Composer updated `spatie/laravel-ignition` `spatie/ignition (1.2.7 => 1.2.9)` perfectly unfortunately the same console error message persists. I'm using Livewire also not using tailwind but company theme, I'm not sure if that makes a difference. Oddly enough it's just a common React iteration error.  Thanks 👍

[2022-04-24 18:21] dejagersh opened #89 "Class LogMessage not found"
I keep getting the following error:

[code]

in the file `spatie/laravel-ignition/src/Recorders/LogRecorder/LogRecorder.php`

I suspect this is similar to: https://github.com/spatie/laravel-ray/issues/237

I "solve" it by putting `opcache_reset()` in `public/index.php`

[2022-04-28 08:11] LucianMihalache commented on #81
I am facing the same issue, sometimes on my dev environment [APP_ENV=development] I receive this error.
The APP_DEBUG=true and the IGNITION_ENABLE_RUNNABLE_SOLUTIONS is not set.

I see in the code that the ExecuteSolutionController checks if the environment is a local environment
`if (! app()->environment('local')) {
            throw CannotExecuteSolutionForNonLocalEnvironment::make();
        }`

[2022-04-28 08:40] Messhias commented on #81
This doesn't make sense, why I should turn off the ignition in any environment?

[2022-04-29 20:04] warmwhisky commented on #34
I still cannot use the Save Settings button. Only persists to dark mode when editing in config file.
Version 1.2.2

I tried creating .ignition.json manually but still not updating

Console error reads
[code]

[2022-05-07 17:07] psprokofiev commented on #81
I have same errors in buglog, here is my config
[code]
so, there is not production

[2022-05-10 12:46] AlexVanderbist commented on #88
Hi again @tomshaw, you're right about it being a common React warning. It definitely won't affect the Ignition error page at all. So nothing to worry about.

We're always working on improving Ignition and we come across the missing keys quite often. I'm sure we'll have it fixed in one of the next versions. In case you (or anyone else reading this thread) have a concrete example where this goes wro

[2022-05-10 12:46] #88 closed

[2022-05-11 06:45] tomshaw commented on #88
@AlexVanderbist Functionality speaking it may not have any effect. Professionally speaking it fails. Consider updating your build process.

Thanks

[2022-05-21 08:04] luca-alsina opened #92 "Error sometimes in Logs : Argument #2 ($reportBindings) must be of type bool, null given."
I'm getting this error sometimes in my LOGS :

`[2022-05-21 04:00:04] local.ERROR: Spatie\LaravelIgnition\Recorders\QueryRecorder\QueryRecorder::__construct(): Argument #2 ($reportBindings) must be of type bool, null given, called in /var/data/inpicture/www/vendor/spatie/laravel-ignition/src/IgnitionServiceProvider.php on line 170 {"exception":"[object] (TypeError(code: 0): Spatie\\LaravelIgnition

[2022-05-23 11:48] AlexVanderbist commented on #92
Hi @luca-alsina, this sounds like a configuration issue. Can you compare your `config/flare.php` with the default config file found here? https://github.com/spatie/laravel-ignition/blob/main/config/flare.php

[2022-05-23 12:06] luca-alsina commented on #92
I currently don't have `config/flare.php` file in my app. Then i think he is in default state.

[2022-05-27 09:58] rudynac opened #93 "Collapse, Save and Edit don't work"
In the debug page of spatie/ignition (version 1.2.3, the latest) the following operations do not work:
- the "collapse vendor frames" button
- saving the settings (top right)
- opening the editor

https://user-images.githubusercontent.com/12033555/170677233-00b8a03a-4680-44d0-9395-d81471ded5fa.png

Specs:
Windows 11
Chrome, Firefox, Edge
Laravel 9
PHP 8.1.2

[2022-06-02 16:16] kwarnkham commented on #81
Got same issue. I don't want to turn off debug in production. I want to know what's wrong so I can fix.

[2022-06-03 08:38] LucianMihalache commented on #81
So, looking at the code, the only way to get rid of this, is to set the environment to "local".

My opinion is that this should be toggled not by the environment, but by an enable/disable config.

[2022-06-03 09:33] Messhias commented on #81
Yes, there's a PR to fix that?

[2022-06-13 15:43] Messhias commented on #92
I have the same issue with this error every time I upload my app, either for production or development servers.

[2022-06-13 15:45] Messhias commented on #81
@AlexVanderbist I created a PR to fix the issue.

[2022-06-20 09:20] Messhias commented on #81
There's someone else in this repository who's a maintainer too?

[2022-06-20 09:22] freekmurze commented on #81
Thanks for the PR. Please have some patience, we'll get to this PR when we have some time.

[2022-07-07 18:57] j-fulbright opened #102 "Symfony Error - Target class [Spatie\LaravelIgnition\Renderers\IgnitionExceptionRenderer] does not exist."
With the switchover to laravel-ignition, instead of getting the actual error message, I am receiving the below when we're throwing an Exception early in our code flow. In this particular case, it is due to a MySQL server issue, but I wouldnt know that since we're getting the below error.

`Target class [Spatie\LaravelIgnition\Renderers\IgnitionExceptionRenderer] does not exist.`

This is using Lar

[2022-07-08 16:30] SceptreData commented on #92
Just wanted to say I'm having the same issue, running PHP 8.1.6. Frustrating thing is that it only happens sometimes, when running php artisan optimize. Occasionally breaks my CI script... but not consistently. Very strange.

[2022-07-12 21:08] Messhias commented on #92
I tried right now, it happen too.

[2022-07-17 13:47] kedniko commented on #64
⚡ In my case I had to disable `barryvdh/laravel-debugbar`

👉 Add this to `app/Providers/AppServiceProvider.php` -> register()
[code]

[2022-07-20 10:02] #20 closed

[2022-07-20 11:17] AlexVanderbist commented on #74
bad bot

[2022-07-20 11:17] AlexVanderbist commented on #73
bad bot

[2022-07-22 10:00] #33 closed

[2022-07-22 11:05] DeepakAryal commented on #92
Yes it happens to me as well. It breaks my Ci script. any solution?

[2022-07-22 15:40] Messhias commented on #92
I opened a PR that will stop this on https://github.com/spatie/laravel-ignition/pull/98, and incredible this is the only PR open and no one gives a chance to look at it.

[2022-07-28 08:02] shaffe-fr opened #104 "Blade template not resolved"
Hello,

When an exception is thrown inside a view, the compiled cache view is shown instead of the initial blade template.

Is this the intended behaviour?

![image](https://user-images.githubusercontent.com/3834222/181453133-daec2589-812c-4413-99f5-0a389355cff7.png)

Thanks,
Karel

[2022-08-01 10:01] #82 closed

[2022-08-08 10:54] michael-rubel commented on #89
The problem still persists. It works at the process start but crashes after some time working.
Composer version: `2.3.10`

Ping @freekmurze

[2022-08-09 14:04] AlexVanderbist commented on #81
Hi there! Thanks for your patience and for the PR.

Running solutions is disabled on non-local environments (regardless of `APP_DEBUG`) because a lot of people new to the framework tend to deploy their applications with `APP_DEBUG` turned on. This would then possibly expose them to remote code execution through the execute solutions endpoint (or other debug features).

I agree that there should be

[2022-08-16 10:00] ivan-kudritskiy commented on #92
same here (breaks my CI script... but not consistently)

[2022-08-16 23:52] vismutx commented on #92
Have the same problem sometimes, very rare, but.. why?

[2022-08-17 06:39] Messhias commented on #92
In the #81 solves this problem.

[2022-08-17 09:03] Hillcow commented on #92
`rm -rf bootstrap/cache/*.php`

once again did the trick for me.

[2022-08-23 16:39] zanysoft opened #107 "Uncaught TypeError: window.ignite is not a function"
### I am facing following error on localhost:

GET http://citylocal101.qrg/account 500 (Internal Server Error)
Uncaught SyntaxError: Invalid regular expression: /,"&lt;").replace(/: Unmatched ')' (at account:230:72552)
Uncaught TypeError: window.ignite is not a function    at account:239:30
Uncaught ReferenceError: Ignition is not defined    at account:242:5

![Untitled](https://user-images.github

[2022-08-26 12:34] s-fog commented on #89
Have same problem. Any help? :)

[2022-08-26 13:16] AlexVanderbist commented on #81
Hi again, when #111 is merged and tagged, you should be able to set `IGNITION_ENABLE_RUNNABLE_SOLUTIONS=true` to allow runnable solutions everywhere, regardless of environment.

[2022-08-26 13:31] AlexVanderbist commented on #92
Hi there, for some reason it seems like your application's config is missing some important keys... This might be due to config caching. I'd recommend trying `php artisan config:clear` and if that doesn't work, `rm -rf bootstrap/cache/*.php` like @Hillcow suggested.

I've also added some default values for the missing config keys to avoid having this problem in the future. Running `composer update

[2022-08-26 13:31] #92 closed

[2022-08-26 13:36] AlexVanderbist commented on #107
Hi there! Can you try opening this page in Incognito mode (or without any extensions enabled)? It seems like there's some additional JavaScript injected into the Ignition page that isn't there by default.

[2022-08-31 15:05] jcmcclorey commented on #104
I have the same question, the previous setup in Laravel used the regular blade view and I would like to get that functionality back. It's a real pain to try to match up the compiled view with the blade view

[2022-09-03 08:18] StanBarrows opened #112 "Interface "Facade\IgnitionContracts\ProvidesSolution" not found"
Since a couple of hours we receiving the following error whenever our app this an error:
- Interface "Facade\IgnitionContracts\ProvidesSolution" not found.

We just received this error after updating some composer dependencies.

Any ideas where this could be coming from?

Attached Flare-Report.
https://flareapp.io/share/yPaMKxEP#F52

[2022-09-13 08:04] warmwhisky commented on #34
I have no config file in home directory. However, when I click save on the error page from the cog it says "Saved!"

I'm running Ubuntu 22.04 and its not respecting System dark mode. though I think thats Ubuntu?

[2022-09-13 08:09] warmwhisky commented on #93
I've never got the editor "PHPStorm" to open.  I've tried on Windows 10, Mint and Ubuntu. Seems to be no documentation regarding making this work either.

[2022-09-14 09:33] fredrikmikkelsen commented on #102
I'm experiencing the same issue using Laravel Nova 4.0

[2022-09-26 16:18] #112 closed

[2022-10-26 08:00] ahmetbarut opened #117 "foreach() argument must be of type array|object, null given"
Hi, after running composer update it started giving error while trying to execute php artisan commands
![Ekran Resmi 2022-10-26 11 00 37](https://user-images.githubusercontent.com/36641723/197968907-53a8253f-ef73-4f10-8f1d-3179cf9a67c6.png)

[2022-10-26 13:46] VenomXL opened #118 "Error Exception after recent update release."
Recently got this error from package after the update.

![image](https://user-images.githubusercontent.com/102675524/198042649-6ddebcce-9dee-4368-a485-ee668b6504ca.png)

[2022-10-26 17:43] freekmurze commented on #118
Thanks for reporting. This has been fixed in the latest release.

[2022-10-26 17:43] #118 closed

[2022-10-31 14:21] fh32000 commented on #107
لقد ظهر معي نفس المشكله عند اضافه المكتبه
[code]

لذالك قمت بإزالة

         \RenatoMarinho\LaravelPageSpeed\Middleware\RemoveComments::class,
        \RenatoMarinho\LaravelPageSpeed\Middleware\CollapseWhitespace::class,

[2022-11-13 03:05] erayaydin opened #119 "Direct dependency with Illuminate\Foundation\Application"
Hello,

I'm trying to re-structure the Laravel and extend the "Laravel Application" by implementing the `Illuminate\Contracts\Foundation\Application` contract. Trying to register `Laravel Ignition` with my `Laravel Application` concrete but there is a direct dependency in the `Spatie\LaravelIgnition\IgnitionServiceProvider`. I apologize for the submitted issue if it was implemented consciously.

[

[2022-11-20 10:14] cloudlog opened #123 "Current release has still a transitive dependency to the abandoned swift mailer package"
The last release 1.6.1 does still have a transitive dependency to the abandoned swift mailer package via the monolog package ^2.3.

https://packagist.org/packages/spatie/laravel-ignition

There is a new version (3.x) of monolog available that does not have the swift mailer dependency anymore.

https://packagist.org/packages/monolog/monolog#3.2.0

Maybe update to it?

[2022-11-21 11:01] #73 closed

[2022-11-21 11:02] #74 closed

[2022-11-21 14:44] freekmurze commented on #123
We're following Laravel here. They also require monolog v2: https://github.com/laravel/framework/blob/4598d014212f18d766f7a4bb5c109820bd8b823d/composer.json#L28

We'll update our dependency when Laravel updates it.

[2022-11-21 14:44] #123 closed

[2022-11-22 11:01] CodeTechNL commented on #107
I've had the same issue with 1.6. After downgrading to 1.3.1 it worked again. There is a syntax error in the JavaScript file which might cause the problem.

[2022-11-30 02:07] bretto36 commented on #102
Just making sure you've run composer install not composer install --no-dev if ignition is used as a devDependency in your composer.json